html {
	font-family: Roboto, sans-serif;
	background-color: #111111;
	color: White;
}
.beatmapset, .beatmap {
	border: 1px solid white;
}

.beatmap {
	margin: 5px 0;
	padding: 10px;
}
a:link, a:hover, a:active, a:visited {
	color: HotPink;
	text-decoration: inherit;
}
.small-background {
	max-height: 100px;
}