<div class="main-container">
	<h1>osu! optimizer (PHP)</h1>
	<h3>Version 0.1 by Thayol</h3>
	<p><a href="https://github.com/Thayol/OsuOptimizerPHP" target="_blank">[ GitHub ]</a></p>
	<div class="main-item">
		<h2>Stats</h2>
		<h3>
			{{ MAIN_MAPSET_COUNT }} mapsets loaded.<br />
			osu! folder: {{ MAIN_FOLDER_LOCATION }}<br />
			Sum of individual file parse times: {{ MAIN_PARSE_TIME }}<br />
			Last scan took {{ MAIN_SCAN_TIME }} seconds.<br />
		</h3>
	</div>
	<div class="main-item">
		<h2>Actions</h2>
		{{ ACTIONS }}
	</div>
	<div class="main-item">
		<h2 id="a">Browser</h2>
		<div class="browser-navbar">
			<a onclick="firstPage()">[ &lt;&lt; First ]</a> &nbsp;
			<a onclick="prevPage()">[ &lt; Previous ]</a> &nbsp;
			<a onclick="nextPage()">[ Next &gt; ]</a> &nbsp;
			<a onclick="lastPage()">[ Last &gt;&gt; ]</a> &nbsp;
		</div>
		<div id="pagenumber"></div>
		<div id="browser" class="browser">
			<!-- todo JS -->
		</div>
		<script>{{ MAIN_BROWSER_SCRIPT }}</script>
	</div>
</div>